[submodule "3rdparty/pugixml"]
	path = 3rdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "3rdparty/SiftGPU"]
	path = 3rdparty/SiftGPU
	url = https://github.com/pitzer/SiftGPU.git
[submodule "3rdparty/svmlightlib"]
	path = 3rdparty/svmlightlib
	url = https://github.com/giacomodabisias/svmlightlib.git
        branch = master
